body {
  margin: 0;
  font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px
}

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%
}

h1,
.h1 {
  font-size: 28px
}

h2,
.h2 {
  font-size: 24px
}

h3,
.h3 {
  font-size: 21px
}

h4,
.h4 {
  font-size: 18px
}

h5,
.h5 {
  font-size: 14px
}

h6,
.h6 {
  font-size: 12px
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.navbar-sub-category {
  margin-top: -15px;
  margin-bottom: -15px;
}

.panel-less {
  border-color: #ddd
}

.panel-less>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd
}

.list-group.list-group-less {
  margin: 10px;
}

.list-group.list-group-less>.list-group-item {
  border: 1px dashed #ddd;
  border-width: 1px 0;
}

.clear-bottom-margin {
  margin-bottom: 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.content p {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 1.7;
}

.content img,
.content iframe,
.content embed {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.content table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px
}

.content table>tbody>tr>td,
.content table>tbody>tr>th,
.content table>tfoot>tr>td,
.content table>tfoot>tr>th,
.content table>thead>tr>td,
.content table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd
}

.content table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd
}

.content table>caption+thead>tr:first-child>td,
.content table>caption+thead>tr:first-child>th,
.content table>colgroup+thead>tr:first-child>td,
.content table>colgroup+thead>tr:first-child>th,
.content table>thead:first-child>tr:first-child>td,
.content table>thead:first-child>tr:first-child>th {
  border-top: 0
}

.content table>tbody+tbody {
  border-top: 2px solid #ddd
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
}

.navbar-blue {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.navbar-blue .navbar-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navbar-blue .navbar-header .navbar-toggle:focus,
.navbar-blue .navbar-header .navbar-toggle:hover {
  background-color: #f9f9f9;
  border-color: #f9f9f9
}

.navbar-blue .navbar-toggle .icon-bar {
  background-color: #2a82ec;
}

.navbar-blue .navbar-nav>li>a {
  color: #fff;
}

.navbar-blue .navbar-nav>li>a:focus,
.navbar-blue .navbar-nav>li>a:hover {
  background-color: #0080ff;
}

.navbar-blue .navbar-nav>.active>a,
.navbar-blue .navbar-nav>.active>a:focus,
.navbar-blue .navbar-nav>.active>a:hover {
  background-color: #0080ff;
}

.navbar-blue .navbar-collapse,
.navbar-blue .navbar-header {
  margin-left: -15px;
  margin-right: -15px;
}

.brand {
  display: block;
  padding: 20px 15px;
}

.carousel {
  margin-bottom: 20px;
}

.carousel-caption a,
.carousel-caption a:hover {
  color: #fff;
}

.error-content {
  margin: 200px auto;
  text-align: center;
  color: #777;
}

/* 底部 */
.bbq-footer {
  height: 275px;
  width: 100%;
  background-color: #1b1a27;
  border-top: 3px solid #0080ff;
}

.bbq-footer ul {
  width: 400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .bbq-footer{
    height: auto;
  }
  .bbq-footer ul {
    width: 100%;
  }
}

.bbq-footer ul li:first {
  margin-right: 16px;
}

.bbq-footer ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  margin-left: 32px;
}

.bbq-footer ul li span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 130px;
  height: 130px;
}

.bbq-footer ul li p {
  font-size: 12px;
  color: #fff;
}

.bbq-footer ul li p.name {
  color: #0080ff;
}

.bbq-footer ul li .wx-icon {
  background: url('../../../../assets/weixin.jpg')
}

.bbq-footer ul li .wb-icon {
  background: url('../../../../assets/weibo.jpg')
}

/* 导航 */
.reg-nav {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6)
}

.reg-nav .navt {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  margin-left: 45px;
}

/* 报名参赛页面 */
.register-banner {
  background: url('../../../../assets/register.jpg') center;
  height: 350px;
}

.register-container {
  background-color: #01000f;
  padding-bottom: 160px;
}

.register-container-form .title {
  font-size: 24px;
  color: #fff;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.register-container-form .form-group {
  color: #fff;
}

.register-container-form .form-group .protocol {
  font-size: 12px;
}

.register-container-form .form-group label {
  font-weight: normal;
  font-size: 14px;
}

.register-container-form .form-control {
  background-color: transparent;
  border: 1px solid #00468c;
  border-radius: 0;
  height: 40px;
  color: #fff;
}

.register-container-form .form-control:focus {
  border-color: #007ffe;
}

.register-container-form .register-btn {
  width: 100%;
  background-color: #0080ff;
  color: #fff;
  height: 40px;
  border: none;
}

.register-tips {
  position: fixed;
  top: 50px;
  width: 300px;
  right: 0;
  display: none;
}

.register-tips-error {
  position: fixed;
  top: 50px;
  width: 300px;
  right: 0;
  display: none;
}

.register-tips .fa {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 36px;
  height: 36px;
}

@media (min-width: 1200px) {
  .register-container-form {
    width: 550px;
    margin: 0 auto;
    margin-left: 240px;
  }
}

/* 大赛排行 */
.rank-banner {
  background: url('../../../../assets/register.jpg') center;
  height: 350px;
}

.rank-container .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fff;
}

.rank-container .upload-tatle-title {
  background-color: #f7f7f7 !important;
}

.rank-container .upload-table {
  margin-top: 12px;
}

.rank-container .rank-pagination{
  text-align: center;
}
/* @media (min-width: 1200px) {
  .rank-container {
    width: 550px;
    margin: 0 auto;
    margin-left: 240px;
  }
} */

/* 新闻中心 */

.news-banner {
  background: url('../../../../assets/register.jpg') center;
  height: 350px;
}

.news-container {
  background-color: #f7f7f7;
  padding-bottom: 50px;
}

.news-container .container {
  padding: 0;
}

.news-container .news-nav-container {
  margin-bottom: 0;
}

.news-container .news-nav {
  overflow: hidden;
  padding: 8px 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 11px;
}

.news-container .news-nav li {
  list-style: none;
  float: left;
  width: 74px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  margin-right: 10px;
}

.news-container .news-nav li a {
  text-decoration: none;
  color: #333;
}

.news-container .news-nav li.active {
  background-color: #0080ff;
  border-radius: 4px;
}

.news-container .news-nav li.active a {
  color: #fff;
}

.news-container .news-nav li:hover {
  background-color: #0080ff;
  border-radius: 4px;

}

.news-container .news-nav li:hover a {
  color: #fff;
}

.news-container .news-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 24%;
  height: 260px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #eee;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .news-container .news-block{
    width: 100%;
  }
}
.news-container .news-block img {
  width: 260px;
  height: 158px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.news-container .news-block p.title {
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

.news-container .news-block p a {
  color: #333
}

.news-container .news-block p a:hover {
  text-decoration: none;
}

.news-container .news-block>div {
  overflow: hidden;
}

.news-container .news-block .author {
  position: absolute;
  font-size: 12px;
  color: #999;
  left: 12px;
  bottom: 8px;
}

.news-container .news-block .time {
  position: absolute;
  font-size: 12px;
  color: #999;
  right: 12px;
  bottom: 8px;
}





/* 大赛规则 */
.rules-banner {
  background: url('../../../../assets/register.jpg') center;
  height: 350px;
}

.rules-container {
  padding: 26px 0;

}

.rules-container .rules-nav {
  overflow: hidden;
  float: left;
  padding: 0 28px;
  border-right: 1px solid #eee;
}

.rules-container .rules-nav li {
  width: 200px;
  height: 46px;
  line-height: 46px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

.rules-container .rules-nav li.active {
  background-color: #0080ff;
  color: #fff;
}

.rules-container .rules-content {
  display: none;
  padding: 0 30px;
  float: right;
  width: 70%;
  width: -moz-calc(100% - 257px);
  width: -webkit-calc(100% - 257px);
  width: calc(100% - 257px);
  font-weight: bold;
  margin-bottom: 120px;
}

.rules-container .rules-content .normal {
  font-weight: normal;
}

@media (max-width: 768px) {
  .rules-container .rules-content {
    width: 100%;
    padding: 0;
  }
  .rules-container .rules-nav{
    padding:0;
    border:0;
    margin-bottom: 20px;
  }
  .rules-container .rules-nav li{
    width: 56px;
    font-size: 12px;
    float:left;
  }
}






/* 首页 */
.home-banner {
  background: url('../../../../assets/home.jpg') center;
  height: 450px;
}

.home-rules {
  background-color: #f5f5f5;
  padding-bottom: 12px;
}

.home-rules .header {
  font-size: 14px;
  margin-top: 6px;
  position: relative;
}

.home-rules .title {
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

.home-rules .detail {
  position: absolute;
  right: 6px;
  top: 18px;
  cursor: pointer;
}

.home-rules ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.home-rules li {
  float: left;
  list-style: none;
}
.home-rules li img{
  width: 100%;
}
.home-container {
  background-color: #fff;
  padding-bottom: 50px;
}

.home-container .home-container-table {
  min-height: 220px;
}
@media (max-width: 768px) {
  .home-container .home-container-table {
    overflow-x: auto;
  }
}
.home-container .header {
  position: relative;
}

.home-container .header .title {
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

.home-container .header .detail {
  position: absolute;
  right: 6px;
  top: 18px;
  cursor: pointer;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fff;
}

.upload-tatle-title {
  background-color: #f7f7f7 !important;
  border-top: 0;
}

.upload-tatle-title th {
  border-top: 0 !important;
}

.home-news-container {
  margin-bottom: 18px;
}

.home-news-container .news-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 24%;
  height: 260px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #eee;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  margin-bottom: 4px;
}

.home-news-container .news-block img {
  width: 260px;
  height: 158px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.home-news-container .news-block p.title {
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

.home-news-container .news-block>div {
  overflow: hidden;
}

.home-news-container .news-block .author {
  position: absolute;
  font-size: 12px;
  color: #999;
  left: 12px;
  bottom: 8px;
}

.home-news-container .news-block .time {
  position: absolute;
  font-size: 12px;
  color: #999;
  right: 12px;
  bottom: 8px;
}

.home-operate img {
  width: 182px;
}

/* 详情页 */
.details-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #000;
}
.details-container pre {
  background-color: #fff;
  border:0;
  font-size: 14px;
  color: rgb(68,68,68);
  line-height: 28px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.details-container {
  margin-top: 50px;
  padding: 24px 2px;
}

.details-container .title {
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}

.details-container .addition {
  font-size: 14px;
  color: #999;
  margin-bottom: 26px;
}

.details-container img {
  max-height: 280px;
  margin-bottom: 30px;
}

.details-container .content {
  color: #333;
  padding-bottom: 108px;
  margin: 0;
}


select {
  font-family: "微软雅黑";
  width: 249px;
  height: 40px;
  font-size: 18px;
  color: white;
  text-align: center;
  border: 1px #1a1a1a solid;
  border-radius: 5px;
}

option {
  color: black;
  background: #fff;
  line-height: 32px;
  height: 32px;
}

select:focus {
  border: 2px #ddd solid;
  box-shadow: 0 0 15px 1px #DDDDDD;
}

option:hover {
  background: #EBCCD1;
}

.noData {
  text-align: center;
  font-size: 12px;
  background-color: #f7f7f7;
  height: 80px;
  line-height: 80px;
}

.embeb {
  margin-top: 10px;
  margin-bottom: 8px;
}