.upload-thumbnail-grit-line {
  border-left: 1px solid #e5e5e5;
}

.upload-thumbnail-info {
  &.ng-hide-remove {
    display: none;
    &.ng-hide-remove-active {
      opacity: 1;
    }
  }
}

.extensions-media {
  margin-bottom: 5px;
  >.extensions-media-list {
    padding-left: 0;
    padding-right: 0;
    .help-block {
      padding-left: 8px;
      padding-right: 7px;
    }
  }
}

.disabled-upload-thumbnail {
  .upload-thumbnail {
    opacity: .5;
    cursor: default;
    &.active {
      opacity: 1;
      cursor: pointer;
    }
    >.fa-stack.check {
      display: none !important;
    }
  }
  .upload-thumbnail-button {
    display: none;
  }
}

.upload-thumbnail {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  background: #e5e5e5;
  border-radius: 3px;
  overflow: hidden;
  &:hover {
    >.fa-stack {
      &.remove,
      &.check,
      &.edit {
        display: block;
      }
    }
  }
  >.fa-stack {
    position: absolute;
    z-index: 3;
    font-size: 12px;
    &.top-right {
      right: 4px;
      top: 4px;
    }
    &.top-left {
      left: 4px;
      top: 4px;
    }
    &.edit {
      display: none;
      color: white;
      >.fa-inverse {
        color: #337ab7;
      }
    }
    &.edited {
      color: #337ab7;
    }
    &.check {
      display: none;
      color: white;
      >.fa-inverse {
        color: #337ab7;
      }
    }
    &.checked {
      color: #337ab7;
    }
    &.remove {
      display: none;
      color: black;
    }
  }
  >.uploading-spinner {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #e5e5e5;
  }
  >.thumbnail-file {
    width: 80%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    >.fileicon {
      position: relative;
      >.filelastname {
        position: absolute;
        font-size: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        margin-top: 10px;
        text-transform: uppercase;
      }
    }
    >.filename {
      margin-top: 4px;
      font-size: 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  >img {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    filter: blur(10px);
    transition: filter .3s ease-out;
  }
  >.btn-upload-thumbnail {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px dashed #ccc;
    cursor: pointer;
    text-align: center;
    touch-action: manipulation;
    background-image: none;
    background-color: #fff;
    user-select: none;
    &:hover {
      border: 1px dashed #337ab7;
      >.fa {
        color: #337ab7;
      }
    }
    >.fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 21px;
      color: #ccc;
    }
  }
  >input[type=file] {
    opacity: 0;
    position: absolute;
    margin-left: -9999px;
  }
  &.success {
    >img {
      filter: blur(0);
    }
  }
}

.crop-thumbnail-wrap {
  width: 100%;
  overflow: hidden;
  >canvas {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
