/* 上传成绩页面 */

.upload-container {
  .upload-operate {
    height: 40px;
    position: relative;
  }
  .upload-table {
    margin-top: 20px;
  }
  .rank-pagination{
    text-align: center;
  } 
  .choose-file-btn {
    position: absolute;
    top: 0;
    .custom-btn {
      color: #fff;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 100px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      border-radius: 5px;
      background-color: #0080ff;
      cursor: pointer;
    }
    .chooseFile {
      position: absolute;
      font-size: 0;
      width: 62px;
      height: 30px;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .upload-tips {
    position: fixed;
    top: 50px;
    width: 300px;
    right: 0;
    display: none;
  }
  .upload-tips-error {
    position: fixed;
    top: 50px;
    width: 300px;
    right: 0;
    display: none;
  }
}