<nd-navigation></nd-navigation>
<article ui-view class="page view clearfix">
  <div class="row">
<div style="font-size: 30px;
    margin-top: 100px;
    text-align: center;">
      欢迎来到 BBQ 全球资管大赛后台
    </div>
  </div>
</article>