<div class="page-header">
  <ol class="heading">
    <li><a ui-sref="main.registerLists">报名列表</a></li>
  </ol>
</div>
<div>

  <table class="table table-striped">
    <tr>
      <th>参赛昵称</th>
      <th>交易所</th>
      <th>交易所API Key</th>
      <th>交易所私钥</th>
      <th>BTC地址</th>
    </tr>
    <tbody>
      <tr ng-repeat="list in lists">
        <td>{{list.name}}</td>
        <td>{{list.exchange}}</td>
        <td>{{list.apikey}}</td>
        <td>{{list.secretkey}}</td>
        <td>{{list.address}}</td>
      </tr>
    </tbody>
  </table>
</div>