<div class="page-header">
  <ol class="heading">
    <li><a ui-sref="main.upload">上传成绩</a></li>
  </ol>
</div>
<div>
  <div class="upload-container">
    <div class="upload-operate">
      <span class="choose-file-btn"><a href="javascript:void(0)" class="custom-btn">更新排行榜
          <input type="file" id="file" name="file" accept=".csv" class="chooseFile">
        </a></span>
    </div>
    <table class="table table-striped upload-table">
      <tr>
        <th>排名</th>
        <th>参赛日期</th>
        <th>选手昵称</th>
        <th>初始权益</th>
        <th>当日权益</th>
        <th>累计净利润</th>
        <th>累计单位净值</th>
        <th>累计收益率</th>
        <th>最大回撤</th>
        <th>夏普率</th>
        <th>战队导师</th>
        <th>综合积分</th>
      </tr>
      <tbody>

        <tr ng-repeat="list in lists">
          <td>{{list.rankIndex}}</td>
          <td>{{list.createAt}}</td>
          <td>{{list.nickName}}</td>
          <td>{{list.initEquity}}</td>
          <td>{{list.currentEquity}}</td>
          <td>{{list.totalPl}}</td>
          <td>{{list.totalNav}}</td>
          <td>{{list.returnRatio}}</td>
          <td>{{list.returnVol}}</td>
          <td>{{list.sharpIndex}}</td>
          <td>{{list.teacher}}</td>
          <td>{{lists.points}}</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation" class="rank-pagination" data-page="{{currentPage}}">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-repeat="page in countPage" class="admin-pageCount"><a href="/admin/upload?page={{page.num}}" onclick="location.reload()">{{page.num}}</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="upload-tips alert alert-success" role="alert">排行榜更新成功</div>
    <div class="upload-tips-error alert alert-danger" role="alert">排行榜更新失败, 请稍后重试！</div>
  </div>
</div>