<div class="home-banner"></div>
<div class="home-rules">
  <div class="container">
    <div class="header">
      <span class="title">大赛规则和奖项</span>
      <span class="detail"><a href="/rules">详情 ></a></span>
    </div>
    <ul>
      <li class="col-lg-3 col-xs-12"><img src="../../assets/rules-1.jpg" alt=""></li>
      <li class="col-lg-3 hidden-xs"><img src="../../assets/rules-2.jpg" alt=""></li>
      <li class="col-lg-3 hidden-xs"><img src="../../assets/rules-3.jpg" alt=""></li>
      <li class="col-lg-3 hidden-xs"><img src="../../assets/rules-4.jpg" alt=""></li>
    </ul>

  </div>
</div>
<div class="home-container">
  <div class="container">
    <div class="header">
      <span class="title">英雄榜</span>
      <span class="detail"><a href="/rank">更多 ></a></span>
    </div>
    <div class="home-container-table">
      <table class="table table-striped upload-table">
        <tr class="upload-tatle-title">
          <th>排名</th>
          <th>参赛日期</th>
          <th>选手昵称</th>
          <th>初始权益</th>
          <th>当日权益</th>
          <th>累计净利润</th>
          <th>累计单位净值</th>
          <th>累计收益率</th>
          <th>最大回撤</th>
          <th>夏普率</th>
          <th>战队导师</th>
          <th>综合积分</th>
        </tr>
        <tbody>
          {{#foreach lists}}
          <tr>
            <td>{{rankIndex}}</td>
            <td>{{createAt}}</td>
            <td>{{nickName}}</td>
            <td>{{initEquity}}</td>
            <td>{{currentEquity}}</td>
            <td>{{totalPl}}</td>
            <td>{{totalNav}}</td>
            <td>{{returnRatio}}</td>
            <td>{{returnVol}}</td>
            <td>{{sharpIndex}}</td>
            <td>{{teacher}}</td>
            <td>{{points}}</td>
          </tr>
          {{/foreach}}
        </tbody>
      </table>
    </div>

    <div class="header">
      <span class="title">新闻中心</span>
      <span id="toRules" class="detail"><a href="/news-center">更多 ></a></span>
    </div>
    <div class="home-news-container hidden-xs">
      {{#if models.noL}}
      <div class="noData">暂无新闻</div>
      {{else}}
      {{#foreach models.lists}}
      <div class="news-block">
        {{#if video}}
        <embed src='{{videoUrl}}' allowFullScreen='true' quality='high' width='260' height='158' align='middle'
          allowScriptAccess='always' type='application/x-shockwave-flash' class="embeb"></embed>
        {{else}}
        <img src="{{imgsrc}}" alt="">
        {{/if}}
        <p class="title"><a href="/news-center/{{id}}" target="__blank">{{title}}</a></p>
        <div>
          <span class="author">{{author}}</span>
          <span class="time">{{time}}</span>
        </div>
      </div>
      {{/foreach}}
      {{/if}}
    </div>
    <div class="home-news-container visible-xs">
      {{#if models.noL}}
      <div class="noData">暂无新闻</div>
      {{else}}
      <div class="news-block" style="width: 100%;">
        {{#if firstData.video}}
        <embed src='{{firstData.videoUrl}}' allowFullScreen='true' quality='high' width='260' height='158' align='middle'
          allowScriptAccess='always' type='application/x-shockwave-flash' class="embeb"></embed>
        {{else}}
        <img src="{{firstData.imgsrc}}" alt="">
        {{/if}}
        <p class="title"><a href="/news-center/{{firstData.id}}" target="__blank">{{firstData.title}}</a></p>
        <div>
          <span class="author">{{firstData.author}}</span>
          <span class="time">{{firstData.time}}</span>
        </div>
      </div>
      {{/if}}
    </div>
    <div class="header">
      <span class="title">合作单位</span>
    </div>
    <div class="home-operate">
      <img src="../../assets/rules-3.jpg" alt="">
    </div>
  </div>
</div>