<div class="details-layer"></div>
<div class="details-container">
  <div class="container">
    <p class="title">{{news.title}}</p>
    <p class="addition">{{news.author}} &nbsp;&nbsp;&nbsp;&nbsp;{{news.time}}</p>
    <p class="img">
      {{#if news.video}}
      <embed src='{{news.videoUrl}}' allowFullScreen='true' quality='high' width='600px' height='500px' align='middle'
        allowScriptAccess='always' type='application/x-shockwave-flash' class="embeb"></embed>
      {{else}}
      <img src="{{news.imgsrc}}" alt="">
      {{/if}}
    </p>
    <p class="content" id="content" data-content="{{news.content}}"></p>
  </div>
</div>
<script>
  (function () {
    $('#content').html($('#content').attr('data-content'))
  }())
</script>