<div class="news-banner"></div>
<div class="news-container">
  <div class="news-nav">
    <ul class="container news-nav-container">
      <li class="{{#if type.all}}active{{/if}}"><a href="?type=all">全部</a></li>
      <li class="{{#if type.tradingtips}}active{{/if}}"><a href="?type=tradingtips">交易心得</a></li>
      <li class="{{#if type.story}}active{{/if}}"><a href="?type=story">盘手故事</a></li>
      <li class="{{#if type.interview}}active{{/if}}"><a href="?type=interview">导师访谈</a></li>
      <li class="{{#if type.report}}active{{/if}}"><a href="?type=report">大赛播报</a></li>
    </ul>
  </div>

  <div class="container">
    {{#if noL}}
    <div class="noData">暂无新闻</div>
    {{else}}
    {{#foreach models}}
    <div class="news-block">
      {{#if video}}
      <embed src='{{videoUrl}}' allowFullScreen='true' quality='high' width='260'
        height='158' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash' class="embeb"></embed>
      {{else}}
      <img src="{{imgsrc}}" alt="">
      {{/if}}
      <p class="title"><a href="/news-center/{{id}}" target="__blank">{{title}}</a></p>
      <div>
        <span class="author">{{author}}</span>
        <span class="time">{{time}}</span>
      </div>
    </div>
    {{/foreach}}
    {{/if}}

  </div>
</div>