<div class="rank-banner"></div>

<div class="rank-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row" style="overflow-x: auto;">
          <table class="table table-striped upload-table">
            <tr class="upload-tatle-title">
              <th>排名</th>
              <th>参赛日期</th>
              <th>选手昵称</th>
              <th>初始权益</th>
              <th>当日权益</th>
              <th>累计净利润</th>
              <th>累计单位净值</th>
              <th>累计收益率</th>
              <th>最大回撤</th>
              <th>夏普率</th>
              <th>战队导师</th>
              <th>综合积分</th>
            </tr>
            <tbody>
              {{#foreach lists}}
              <tr>
                <td>{{rankIndex}}</td>
                <td>{{createAt}}</td>
                <td>{{nickName}}</td>
                <td>{{initEquity}}</td>
                <td>{{currentEquity}}</td>
                <td>{{totalPl}}</td>
                <td>{{totalNav}}</td>
                <td>{{returnRatio}}</td>
                <td>{{returnVol}}</td>
                <td>{{sharpIndex}}</td>
                <td>{{teacher}}</td>
                <td>{{points}}</td>
              </tr>
              {{/foreach}}
            </tbody>
          </table>

          <nav aria-label="Page navigation" class="rank-pagination" data-page = "{{currentPage}}">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{#foreach count}}
              <li><a href="?page={{num}}">{{num}}</a></li>
              {{/foreach}}
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
  (function(){
    var page = $('.rank-pagination').attr('data-page');
    $('.pagination li').eq(page).addClass('active');
  } ())
</script>