<div class="register-banner"></div>
<div class="register-container">
  <div class="container">
    <div class="row register-container-form">
      <div class="col-md-12">
        <form class="form-horizontal">
          <div class="title">参赛报名</div>
          <div class="form-group">
            <label for="exchange" class="col-sm-3 control-label">请选择交易所</label>
            <div class="col-sm-9">
              <select class="form-control" id="exchange">
                <option>BINANCE</option>
                <option>HUOBIPRO</option>
                <option>OKEX</option>
                <option>BITMEX</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">参赛昵称</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="输入昵称" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="apikey" class="col-sm-3 control-label">交易所API Key</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="apikey" placeholder="输入API Key" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="secretkey" class="col-sm-3 control-label">交易所私钥</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="secretkey" placeholder="输入私钥" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-sm-3 control-label">BTC地址</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="address" placeholder="输入BTC地址" autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label class="protocol">
                  <input type="checkbox" id="protocol" > 点击"立即参赛", 表示您同意并遵守《大赛协议》
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button id="registerBtn" class="btn btn-default register-btn">立即参赛</button>
            </div>
          </div>
        </form>
        <div class="register-tips alert alert-success" role="alert">报名成功！</div>
        <div class="register-tips-error alert alert-danger" role="alert">报名失败，请稍后重试！</div>
      </div>
    </div>
  </div>
</div>

<script>
  (function () {
    var btn = $('#registerBtn');
    $('.register-tips').hide()
    $('.register-tips-error').hide()
    btn.click(function () {
      var exchange = $('#exchange').val()
      var yname = $('#name').val()
      var apikey = $('#apikey').val()
      var secretkey = $('#secretkey').val()
      var address = $('#address').val();
      var checked = $('#protocol').is(':checked');

      if (!exchange || !yname || !apikey || !secretkey || !address || !checked) return false
      var data = {
        exchange: exchange,
        name: yname,
        apikey: apikey,
        secretkey: secretkey,
        address: secretkey
      }
      $.ajax({
        method: 'post',
        url: '/api/register',
        data: data,
        success: function (data) {
          if (data.success) {
            $('#name').val('')
            $('#apikey').val('')
            $('#secretkey').val('')
            $('.register-tips').show('');
            $('#address').val('');
            $("#protocol").attr("checked", false)
            setTimeout(function() {
              $('.register-tips').hide()
            }, 4000)
          }
        },
        error: function() {
          $('.register-tips-error').show();
          setTimeout(function () {
            $('.register-tips-error').hide()
          }, 4000)
        }
      })
      return false
    })
  }())
</script>