<div class="rules-banner"></div>
<div class="rules-container">
  <div class="container">
    <div class="rules-nav">
      <li class="active">大赛规则</li>
      <li>奖项设置</li>
      <li>计算公式</li>
      <li>主办方介绍</li>
      <li>风险揭示</li>
    </div>
    <div class="rules-content">
      <p>比赛时间：</p>
      <p>2019.1.16-2019.3.31</p>
      </br>
      <p>报名时间：</p>
      <p>2019.1.10-1.15</p>
      </br>
      <p>参赛须知：</p>
      <p>1、本次大赛为数字资产实盘交易比赛，参赛者自行交易，自负盈亏，一切交易均须遵守交易所的交易规则及相关管理规定；</p>
      <p>2、大赛组委会由BBQ智能投资平台及合作单位等有关负责人共同组成；</p>
      <p>3、比赛当周的账号最低参赛资金不能低于10BTC，否则视为退赛；</p>
      <p>4、全程不限制出入金，比赛当周如果出入金只能一次；</p>
      <p>5、币币交易和合约交易都可以，必须在大赛指定的交易所范围内的账号；</p>
      <p>6、同一个机构可以报名多账号参加比赛，当周的账号由参赛选手自行指定；</p>
      <p>7、合约交易的杠杆倍数不限制；</p>
      <p>8、币币交易只统计大赛指定的前50大币种，交易其它无效币种当日成绩取消；</p>
      <p>9、大赛总决赛的评分规则，由主委会发起方案投票，全体参加决赛选手投票产生；</p>
      <p>10、“QUANT KING”全球资管大赛组委会对本规则享有最终解释权。</p>
    </div>
    <div class="rules-content">
      <p>1.冠军团队奖项（团队）</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Quant King 荣誉，代表中国战区参加全球决赛</p>
      </br>
      <p>2.转发微博微信锦鲤大奖3名</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;随机抽取，多次转发增加获奖几率；</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;所有赞助商的奖金池：10BTC起，不设上限</p>
      
      </br>
      <p>3.最大贡献奖项（团队）</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;xxx BTC（交易所）</p>
      </br>
      <p>4.最佳人气大奖（个人）</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;xxx BTC（主办方）</p>
      </br>
      <p>5.最大收益奖（个人）</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;XX BTC（冠名商）</p>
      </br>
      <p>6.全程各单项奖</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;3个以上，奖金1BTC（赞助商）</p>
    </div>
    <div class="rules-content">
      <p>计算公式</p>
      </br>
      <p>P=P1*P2*P3.....*Pn，其中P为累计净值，Pn为当日净值，Pn的计算按（当日盈亏-当日手续费）的值分三种情况：</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;a.（当日盈亏-当日手续费）> 0，出金按盘后，入金按盘前：
      当日净值=(当日权益+当日出金)/(上日权益+当日入金)。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;b.（当日盈亏-当日手续费）= 0，当日净值=1。</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;c.（当日盈亏-当日手续费）< 0，出金按盘后，入金按盘后： 当日净值=(当日权益-当日入金+当日出金)/(上日权益)。 排名计算公式 </p>
    </div>
    <div class="rules-content">
      <p>JLAB:</p>
      <p class="normal">2017年由来自九鼎清科的一批精英共同创立发起，是国内古典投资机构第一个数字货币基金。
      投资区块链领域：本体、Oasis、Thunder、Mytoken、Kcash、火讯等50多个项目</p>
      </br>
      <p>BBQ:</p>
      <p class="normal">BBQ智能投资平台以量化交易为内核，聚合多交易所行情与交易，支持各类数字资产量化策略交易。</p>
      <p class="normal">FOF基金：BBQ有深耕国内FOF基金领域多年的管理团队和资源，孵化10家量化团队，并提供资金对接。</p>
      </br>
      
      <p>Hashgard：</p>
      <p class="normal">是由GF Network旗下分布式资本、BKFUND领投，80家机构跟投的新一代金融公有链。Hashgard技术赋能平
      台是公有链上的首个分布式商业应用，旨在多元化的区块链生态提供企业级服务，包括但不限于数字资产管理、
      证券通证服务、企业多方协作、智能合约部署、社区激励分发、内容媒体推广、法律合规落地等一站式解决方案。</p>
      </br>
      
      <p>CUC (中美区块链协会）:</p>
      <p class="normal">中美区块链协会(CUC)是由Google区块链社区与美国最大的投资机构平台F50发起，F50创始人、硅谷最大社区SVE创始人David
      Cao亲任CUC美国会长，卡内基梅隆大学创业导师/斯坦福大学区块链课程授课老师薛宏担任CUC美国副会长，前SEC(美国证券交易委员会)专家Gary Aguirre担任顾问;英特尔董事总经理Sanjit
      Dang、彭博(Bloomberg)执行主编Tom
      Giles等众多海外专家也加入CUC专家组。中国区块链产业白皮书编委会主任于佳宁、中关村区块链产业联盟理事长元道、宏畅通区块链生态公司董事长武源文、百度区块链负责人柴桥子、复旦张江研究院教授陈文君、德鼎创新合伙人王岳华、JLAB合伙人孙健、嘉楠耘智区块链事业部总经理邵建良等美中一线顶尖学者教授、知名投资人、区块链技术专家、业界精英担任CUC嘉宾。</p>
    </div>
    <div class="rules-content">
      <p>进行数字资产交易风险相当大，可能发生巨额损失，损失的总额可能超过您的全部初始保证金以及追加保证金。因此，您必须认真考虑自己的经济能力是否适合进行数字资产交易。
      <p>考虑是否进行数字资产交易时，您应当明确以下几点：</p>
      <p>一、由于国家法律、法规、政策的变化、期货交易所交易规则的修改、紧急措施的出台等原因，您持有的未平仓合约可能无法继续持有，您必须承担由此导致的损失。</p>
      <p>二、由于非交易所所能控制的原因，例如：地震、水灾、火灾等不可抗力因素或者计算机系统、通讯系统故障等，可能造成您的指令无法成交或者无法全部成交，您必须承担由此导致的损失。</p>
      <p>三、利用互联网进行数字资产交易时将存在(但不限于)以下风险，您将承担由此导致的损失</p>
      <p>1、由于无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障、网络故障及其它因素，可能导致交易系统非正常运行甚至瘫痪，使您的交易指令出现延迟、中断、数据错误等情况；</p>
      <p>2、由于网上交易系统存在被网络黑客和计算机病毒攻击的可能性，由此可能导致交易系统故障，使交易无法进行及行情信息出现错误或延迟；</p>
      <p>3、互联网上的数据传输可能因通信繁忙等原因出现延迟、中断、数据错误或不完全，从而使网上交易出现延迟、中断；</p>
      <p>4、如果您缺乏网上交易经验，可能因操作不当造成交易失败或交易失误；</p>
      <p>5．您的密码失密或被他人盗用。</p>
      <p>本《数字资产交易风险说明书》无法揭示从事数字资产交易的所有风险和有关数字资产市场的全部情形。故您在 入市交易之前，应全面了解数字资产交易法律法规、交易所的业务规则，对自身的经济承受能力、风险控制能力、身体及心理承受能力（仅对自然人
      客户而言）作出客观判断，对期货交易作仔细的研究。</p>
    </div>
  </div>
</div>
<script>
  (function () {
    $('.rules-content').eq(0).show()
    $('.rules-nav li').click(function (e) {
      var index = $('.rules-nav li').index(this);
      $('.rules-content').hide();
      $('.rules-nav li').removeClass('active');
      $(this).addClass('active')
      $('.rules-content').eq(index).show()
    })
  }())
</script>